@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    animation: color 10s infinite;
}

@keyframes color {
    0% { background-image: url("https://i.imgur.com/8e6dbop.jpg"); }
    25% { background-image: url("https://i.imgur.com/nPBKigw.jpg"); }
    50% { background-image: url("https://i.imgur.com/gmFf0QM.jpg"); }
    75% { background-image: url("https://i.imgur.com/RCDZWJd.jpg"); }
    100% { background-image: url("https://i.imgur.com/8e6dbop.jpg"); }
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .nav a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background ;
}

header .nav a:not(:last-child){
    margin-right: 30px;
}

header .nav a:hover{
    background: goldenrod;
}

.content{
    max-width: 650px;
    margin: auto;
    width: auto;
	max-width: 80%;
	background-color: white;
	padding: auto;
	border-radius: 50px;
	border: 1px solid black;
	box-shadow: 0 0 10px 2px;
	opacity: 100;
	color: black;
    text-align: center;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a{
    position: relative;
    color: white;
    font-size: 50px;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

header .nav{
    display: none;
}

label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

label .fa-xmark{
    display: none;
}

label:hover{
    color: goldenrod;
}

#check:checked ~ header .nav{
    z-index: 2;
    position: fixed;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .80;
}

#check:checked ~ header .nav a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

#check:checked ~ header label .fa-bars{
    display: none;
}

#check:checked ~ header label .fa-xmark{
    z-index: 2;
    display: block;
    position: fixed;
}

label .fa-bars{
    position: absolute;
    color: white;
}

header .logo{
    position: absolute;
    bottom: -6px;
}

/* */

.info{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  
  .container .heading{
    width: 50%;
    padding-bottom: 50px;
  }
  .container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
  }
  
  .container .heading h3 span{
    font-weight: 100;
  }
  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  
  
  @media only screen and (max-width: 769px){
      .container .box{
     flex-direction: column;
    }
  
  .container .box .dream{
    width: 100%;
  }
  
  }
  
  @media only screen and (max-width: 643px){
  .container .heading{
    width: 100%;
  }
  .container .heading h3{
    font-size: 1em;
  
  }
  
  